<div class="row">
  <div class="col-lg-6">
    <%= f.label :logradouro %>
    <%= f.text_field :logradouro, class: 'form-control' %>
  </div>

  <div class="col-lg-2">
    <%= f.label :numero %>
    <%= f.text_field :numero, class: 'form-control' %>
  </div>

  <div class="col-lg-4">
    <%= f.label :bairro %>
    <%= f.text_field :bairro, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <%= f.label :cidade %>
    <%= f.text_field :cidade, class: 'form-control' %>
  </div>

  <div class="col-lg-3">
    <%= f.label :estado %>
    <%= f.text_field :estado, class: 'form-control' %>
  </div>

  <div class="col-lg-3">
    <%= f.label :cep %>
    <%= f.text_field :cep, class: 'form-control' %>
  </div>
</div>